.img-border{
    border: 3px solid #dc3545;
    /* background-color: red; */
    /* height: 200px;
    width: 20%; */
    padding: 0;
    /* background-color: #198754; */
    background-color: #dca2357c;
}

/* .desert-img{
    height: 60%;
} */

/* .desert{
    
} */