
/* .meals{
   
} */
/* .meals{
    background-color: #b1ada5 !important;
} */
.des{
    margin-top: 40px;
    background-color: rgba(163, 163, 163, 0.178);
    /* margin: 0;
    padding: 0;
    width: 100vw;
    */
}
